{
    "rules": {
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console":[
            0
        ]
    },
    "globals": {
        "define": true
    },
    "env": {
        "es6": false,
        "browser": true,
        "commonjs": true
    },
    "extends": "eslint:recommended"
}
