/* reset */
button {
  border: none;
  outline: none;
}
/* style */
body {
  font-family: 'Arial', Sans-Serif;
  font-size: 21px;
}

main {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#tic-tac-toe-board {
  display: block;
  margin: 0 auto;
}

#message {
  color: #dc143c;
  margin: 0 0 10px 0;
  height: 20px;
  line-height: 20px;
}

#newGameButton {
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    color: #777;
    font-size: 19px;
    border: 5px solid #ccc;
    cursor: pointer;
}

#newGameButton:hover,
#newGameButton:active {
  background: #ccc;
  color: #fff;
}

@media (max-width: 768px) {
  canvas {
    width:100%;
  }
}
